
      
    <section class="advantages" id="advantages">
        <div class="container">
            <h3 class="advantages-subtitle">Переваги</h3>
          <h2 class="advantages-title">Чому обрати нас?</h2>
          <p class="advantages-desc" >Наші сумки виготовлені з екологічно чистих матеріалів, що забезпечують стійкість і довговічність. Обираючи EcoTote, ви підтримуєте екологічну відповідальність.</p>
          <ul class="advantages-list">
            <li class="advantages-li">
        <picture>
          <source
            srcset="
              /img/Advantages/eco-friendly-desk-1x.webp 1x,
              /img/Advantages/eco-friendly-desk-2x.webp 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /img/Assortment/eco-friendly-tab-1x.webp 1x,
              /img/Assortment/eco-friendly-tab-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="/ecotote-proj/src/img/Advantages/eco-friendly-mob-1x.webp"
            srcset="/img/Advantages/eco-friendly-mob-2x.webp 2x"
            alt="eco-friendly bag images"
            width="288"
            height="198"
          />
        </picture>
            
              <h3 class="advantages-list-title">Стійкість та екологічність</h3>
              <p class="advantages-li-text">
               Виготовлені з органічної бавовни та переробленого пластику.
              </p>
            </li>
            <li class="advantages-li">
              <img 
                srcset="/ecotote-proj/src/img/Advantages/durability-mob-1x.webp 1x, /ecotote-proj/src/img/Advantages/durability-mob-2x.webp
                 2x"
                src="/Placeholder Image.jpg" width="288" alt="" />
              <h3 class="advantages-list-title">Міцність і довговічність</h3>
              <p class="advantages--li-text">Наші сумки мають посилені шви для тривалого використання.
              </p>
            </li>
            <li class="advantages-li">
                   <picture>
          <source
            srcset="
              /img/Advantages/durability-desk-1x.webp 1x,
              /img/Advantages/durability-desk-2x.webp 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="ecotote-proj/src
              /img/Assortment/durability-tab-1x.webp 1x,
              /img/Assortment/durability-tab-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="/img/Advantages/durability-mob-1x.webp"
            srcset="/img/Advantages/durability-mob-2x.webp 2x"
            alt="durability bag images"
            width="288"
            height="198"
          />
        </picture>
              <h3 class="advantages-list-title">Стильний та сучасний дизайн</h3>
              <p class="advantages-li-text">Мінімалістичні моделі в обмежених серіях для кожного стилю.
              </p>
                                 <picture>
          <source
            srcset="
              /img/Advantages/style-desk-1x.webp 1x,
              /img/Advantages/style-desk-2x.webp 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /img/Assortment/style-tab-1x.webp 1x,
              /img/Assortment/style-tab-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="ecotote-proj/src/img/Advantages/style-mob-1x.webp"
            srcset="/img/Advantages/style-mob-2x.webp 2x"
            alt="style bag images"
            width="288"
            height="198"
          />
        </picture>
            </li>
           
          </ul>
        </div>
      </section>
 

