<section class="feedbacks">
  <div class="container">
    <h2 class="feedbacks__title" id="feedbacks-title">
      Що говорять наші клієнти
    </h2>

    <ul class="feedbacks__list">
      <li class="feedbacks__item">
        <div class="rating" role="img">
          <svg class="star star__filled" width="24" height="24">
            <use href="/img/icons.svg#icon-star-fillled"></use>
          </svg>
          <svg class="star star__filled" width="24" height="24">
            <use href="/img/icons.svg#icon-star-fillled"></use>
          </svg>
          <svg class="star star__filled" width="24" height="24">
            <use href="/img/icons.svg#icon-star-fillled"></use>
          </svg>
          <svg class="star star__filled" width="24" height="24">
            <use href="/img/icons.svg#icon-star-fillled"></use>
          </svg>
          <svg class="star star__filled" width="24" height="24">
            <use href="/img/icons.svg#icon-star-fillled"></use>
          </svg>
        </div>
        <p class="feedbacks__text">
          Сумка дуже зручна та стильна, використовую щодня!
        </p>
        <p class="feedbacks__author">Анна</p>
      </li>

      <li class="feedbacks__item">
        <div class="rating" role="img">
          <svg class="star star__filled" width="24" height="24">
            <use href="/img/icons.svg#icon-star-fillled"></use>
          </svg>
          <svg class="star star__filled" width="24" height="24">
            <use href="/img/icons.svg#icon-star-fillled"></use>
          </svg>
          <svg class="star star__filled" width="24" height="24">
            <use href="/img/icons.svg#icon-star-fillled"></use>
          </svg>
          <svg class="star star__filled" width="24" height="24">
            <use href="/img/icons.svg#icon-star-fillled"></use>
          </svg>
          <svg class="star star__filled" width="24" height="24">
            <use href="/img/icons.svg#icon-star-fillled"></use>
          </svg>
        </div>
        <p class="feedbacks__text">
          Відмінна якість матеріалів, приємно здивована.
        </p>
        <p class="feedbacks__author">Ігор</p>
      </li>

      <li class="feedbacks__item">
        <div class="rating" role="img">
          <svg class="star star__filled" width="24" height="24">
            <use href="/img/icons.svg#icon-star-fillled"></use>
          </svg>
          <svg class="star star__filled" width="24" height="24">
            <use href="/img/icons.svg#icon-star-fillled"></use>
          </svg>
          <svg class="star star__filled" width="24" height="24">
            <use href="/img/icons.svg#icon-star-fillled"></use>
          </svg>
          <svg class="star star__filled" width="24" height="24">
            <use href="/img/icons.svg#icon-star-fillled"></use>
          </svg>
          <svg class="star star__filled" width="24" height="24">
            <use href="/img/icons.svg#icon-star-fillled"></use>
          </svg>
        </div>
        <p class="feedbacks__text">
          Сумка повністю відповідає опису, рекомендую!
        </p>
        <p class="feedbacks__author">Олена</p>
      </li>

      <li class="feedbacks__item">
        <div class="rating" role="img">
          <svg class="star star__filled" width="24" height="24">
            <use href="/img/icons.svg#icon-star-fillled"></use>
          </svg>
          <svg class="star star__filled" width="24" height="24">
            <use href="/img/icons.svg#icon-star-fillled"></use>
          </svg>
          <svg class="star star__filled" width="24" height="24">
            <use href="/img/icons.svg#icon-star-fillled"></use>
          </svg>
          <svg class="star star__filled" width="24" height="24">
            <use href="/img/icons.svg#icon-star-fillled"></use>
          </svg>
          <svg class="star star__filled" width="24" height="24">
            <use href="/img/icons.svg#icon-star"></use>
          </svg>
        </div>
        <p class="feedbacks__text">Швидка доставка та гарне обслуговування.</p>
        <p class="feedbacks__author">Сергій</p>
      </li>
    </ul>
  </div>
</section>
